#!/bin/sh

# If EC2_HOME is defined, it means this script
# has already been executed, otherwise, we start
# the configuration
if [ -z $EC2_HOME ]
then
  # If you are on mac os x and installed api tools using homebrew
  # then don't change anything, otherwise adapt this constants to it
  # correct values
  export EC2_HOME="/usr/local/Cellar/ec2-api-tools/1.4.2.2/jars"
  complete -C aws_completer aws
  export AWS_ACCESS_KEY_ID=''
  export AWS_SECRET_ACCESS_KEY=''
fi
